# /usr/lib/systemd/system/neo4j.service
[Unit]
Description=Neo4j

[Service]
User=neo4j
Type=forking
Environment=NEO4J_CONF=/etc/neo4j
Environment=NEO4J_HOME=/usr/share/neo4j
ExecStart=/usr/bin/neo4j start
ExecStop=/usr/bin/neo4j stop
PIDFile=/run/neo4j/neo4j.pid
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/neo4j.service.d/override.conf
[Service]
Environment=NEO4J_HOME=/usr/share/java/neo4j
Environment=PATH=/usr/lib/jvm/java-8-openjdk/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/opt/cuda/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
LimitNOFILE=65536
